<a href="https://colab.research.google.com/github/IrinaSh96/Data-Scientist/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#База данных студентов#

In [ ]:
import sqlite3 as sq3

In [ ]:
con = sq3.connect('students.db')
cursor = con.cursor()

In [ ]:
cursor.execute('''CREATE TABLE students_list(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    surname TEXT NOT NULL,
    name TEXT NOT NULL,
    name_group_id INTEGER,
    FOREIGN KEY (name_group_id) REFERENCES groups (id)
)''')

cursor.execute('''CREATE TABLE groups(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name_group TEXT NOT NULL,
    name_faculty_id INTEGER,
    FOREIGN KEY (name_faculty_id) REFERENCES facultets (id)
)''')

cursor.execute('''CREATE TABLE facultets(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name_faculty TEXT NOT NULL,
    count_subjects INTEGER NOT NULL
)''')
con.commit()

In [ ]:
cursor.execute("SELECT * FROM sqlite_master")
cursor.fetchall()

[('table',
  'students_list',
  'students_list',
  2,
  'CREATE TABLE students_list(\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    surname TEXT NOT NULL,\n    name TEXT NOT NULL,\n    name_group_id INTEGER,\n    FOREIGN KEY (name_group_id) REFERENCES groups (id)\n)'),
 ('table',
  'sqlite_sequence',
  'sqlite_sequence',
  3,
  'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table',
  'groups',
  'groups',
  4,
  'CREATE TABLE groups(\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    name_group TEXT NOT NULL,\n    name_faculty_id INTEGER,\n    FOREIGN KEY (name_faculty_id) REFERENCES facultets (id)\n)'),
 ('table',
  'facultets',
  'facultets',
  5,
  'CREATE TABLE facultets(\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    name_faculty TEXT NOT NULL,\n    count_subjects INTEGER NOT NULL\n)')]

##Таблица "Студенты"##

In [ ]:
students_list=[('Андреев', 'Константин', 1),
               ('Яхин', 'Андрей', 1),
               ('Зинуков', 'Глеб', 1),
               ('Николаев', 'Александр', 2),
               ('Шишкин', 'Александр', 2),
               ('Белик', 'Георгий', 2),
               ('Резник', 'Константин',3),
               ('Талакова', 'Екатерина', 3),
               ('Аськова', 'Валерия', 3),
               ('Даутов', 'Андрей', 4),
               ('Извозчиков', 'Павел', 4),
               ('Ковалев', 'Иван',4),
               ('Кузьмин', 'Виктор', 5),
               ('Лейман', 'Владислав', 5),
               ('Хохлов', 'Алексей', 5),
               ('Габидулин', 'Владимир', 6),
               ('Лучков', 'Дмитрий',6),
               ('Корчагин', 'Денис',6),
               ('Мисюра', 'Екатерина',7),
               ('Слиган', 'Михаил',7),
               ('Николаенко', 'Даниил', 7),
               ('Урванцев', 'Александр', 8),
               ('Шкуратов', 'Александр', 8),
               ('Артеменко', 'Леонид', 8),
               ('Атальян', 'Давид',9),
               ('Курмелев', 'Даниил',9),
               ('Трофимов', 'Евгений',9),
               ('Максимов', 'Иван',9),
               ("Абакумов", "Захар", 7),
               ('Аббасов', 'Тургу', 1),
               ('Абгарян', 'Наира', 2),
               ('Абдрахманова', 'Алина', 3),
               ('Абдрахманова', 'Мадина',4),
               ('Абдрашева', 'Лилия', 5),
               ('Баратова', 'Полина', 6),
               ('Васькин', 'Вячеслав', 7),
               ('Ведянкина', 'Ксени',8)]
cursor.executemany("insert into students_list(name, surname, name_group_id) values (?,?,?)", students_list)

In [ ]:
cursor.execute("SELECT * FROM students_list")
cursor.fetchall()

[(1, 'Константин', 'Андреев', 1),
 (2, 'Андрей', 'Яхин', 1),
 (3, 'Глеб', 'Зинуков', 1),
 (4, 'Александр', 'Николаев', 2),
 (5, 'Александр', 'Шишкин', 2),
 (6, 'Георгий', 'Белик', 2),
 (7, 'Константин', 'Резник', 3),
 (8, 'Екатерина', 'Талакова', 3),
 (9, 'Валерия', 'Аськова', 3),
 (10, 'Андрей', 'Даутов', 4),
 (11, 'Павел', 'Извозчиков', 4),
 (12, 'Иван', 'Ковалев', 4),
 (13, 'Виктор', 'Кузьмин', 5),
 (14, 'Владислав', 'Лейман', 5),
 (15, 'Алексей', 'Хохлов', 5),
 (16, 'Владимир', 'Габидулин', 6),
 (17, 'Дмитрий', 'Лучков', 6),
 (18, 'Денис', 'Корчагин', 6),
 (19, 'Екатерина', 'Мисюра', 7),
 (20, 'Михаил', 'Слиган', 7),
 (21, 'Даниил', 'Николаенко', 7),
 (22, 'Александр', 'Урванцев', 8),
 (23, 'Александр', 'Шкуратов', 8),
 (24, 'Леонид', 'Артеменко', 8),
 (25, 'Давид', 'Атальян', 9),
 (26, 'Даниил', 'Курмелев', 9),
 (27, 'Евгений', 'Трофимов', 9),
 (28, 'Иван', 'Максимов', 9),
 (29, 'Захар', 'Абакумов', 7),
 (30, 'Тургу', 'Аббасов', 1),
 (31, 'Наира', 'Абгарян', 2),
 (32, 'Алина', 'Абдрахманова', 3),
 (33, 'Мадина', 'Абдрахманова', 4),
 (34, 'Лилия', 'Абдрашева', 5),
 (35, 'Полина', 'Баратова', 6),
 (36, 'Вячеслав', 'Васькин', 7),
 (37, 'Ксени', 'Ведянкина', 8)]

##Таблица "Группы"##

In [ ]:
groups_list=[('Архитектура', 2),
            ('Эксплуатация транспортнотехнологических машин и комплексов', 3 ),
            ('Прикладная математика и информатика', 1),
            ('Строительство', 1),
            ('Информационные системы и технологии', 1),
            ('Прикладная математика и информатика', 1),
            ('Строительство', 4),
            ('Экономическая безопасность', 5),
            ('Юриспруденция', 6)]
cursor.executemany("insert into groups(name_group, name_faculty_id) values (?,?)", groups_list)

In [ ]:
cursor.execute("SELECT * FROM groups")
cursor.fetchall()

[(1, 'Архитектура', 2),
 (2, 'Эксплуатация транспортнотехнологических машин и комплексов', 3),
 (3, 'Прикладная математика и информатика', 1),
 (4, 'Строительство', 1),
 (5, 'Информационные системы и технологии', 1),
 (6, 'Прикладная математика и информатика', 1),
 (7, 'Строительство', 4),
 (8, 'Экономическая безопасность', 5),
 (9, 'Юриспруденция', 6)]

##Таблица "Факультеты"##

In [ ]:
facultets_list=[('Строительный', 26),
                ('Архитектурный', 40),
                ('Автомобильно-дорожный', 15),
                ('Инженерной экологии и городского хозяйства', 26),
                ('Экономики и управления', 10 ),
                ('Судебных экспертиз и права в строительстве и на транспорте', 18)]
cursor.executemany("insert into facultets(name_faculty, count_subjects) values (?,?)", facultets_list)

In [ ]:
cursor.execute("SELECT * FROM facultets")
cursor.fetchall()

[(1, 'Строительный', 26),
 (2, 'Архитектурный', 40),
 (3, 'Автомобильно-дорожный', 15),
 (4, 'Инженерной экологии и городского хозяйства', 26),
 (5, 'Экономики и управления', 10),
 (6, 'Судебных экспертиз и права в строительстве и на транспорте', 18)]

## Таблица студентов и количество предметов##

In [ ]:
import pandas as pd

In [ ]:
cursor.execute("""SELECT name, surname, count_subjects
    FROM students_list
    JOIN groups ON groups.id= students_list.name_group_id
    JOIN facultets ON facultets.id= groups.name_faculty_id
""")
cursor.fetchall()

[('Андреев', 'Константин', 40),
 ('Яхин', 'Андрей', 40),
 ('Зинуков', 'Глеб', 40),
 ('Николаев', 'Александр', 15),
 ('Шишкин', 'Александр', 15),
 ('Белик', 'Георгий', 15),
 ('Резник', 'Константин', 26),
 ('Талакова', 'Екатерина', 26),
 ('Аськова', 'Валерия', 26),
 ('Даутов', 'Андрей', 26),
 ('Извозчиков', 'Павел', 26),
 ('Ковалев', 'Иван', 26),
 ('Кузьмин', 'Виктор', 26),
 ('Лейман', 'Владислав', 26),
 ('Хохлов', 'Алексей', 26),
 ('Габидулин', 'Владимир', 26),
 ('Лучков', 'Дмитрий', 26),
 ('Корчагин', 'Денис', 26),
 ('Мисюра', 'Екатерина', 26),
 ('Слиган', 'Михаил', 26),
 ('Николаенко', 'Даниил', 26),
 ('Урванцев', 'Александр', 10),
 ('Шкуратов', 'Александр', 10),
 ('Артеменко', 'Леонид', 10),
 ('Атальян', 'Давид', 18),
 ('Курмелев', 'Даниил', 18),
 ('Трофимов', 'Евгений', 18),
 ('Максимов', 'Иван', 18),
 ('Абакумов', 'Захар', 26),
 ('Аббасов', 'Тургу', 40),
 ('Абгарян', 'Наира', 15),
 ('Абдрахманова', 'Алина', 26),
 ('Абдрахманова', 'Мадина', 26),
 ('Абдрашева', 'Лилия', 26),
 ('Баратова', 'Полина', 26),
 ('Васькин', 'Вячеслав', 26),
 ('Ведянкина', 'Ксени', 10)]

In [ ]:
df = pd.read_sql("""SELECT name as 'Имя', surname as 'Фмилия', count_subjects as 'Количество предметов'
    FROM students_list
    JOIN groups ON groups.id= students_list.name_group_id
    JOIN facultets ON facultets.id= groups.name_faculty_id
""", con)
df

             Имя      Фмилия  Количество предметов
0        Андреев  Константин                    40
1           Яхин      Андрей                    40
2        Зинуков        Глеб                    40
3       Николаев   Александр                    15
4         Шишкин   Александр                    15
5          Белик     Георгий                    15
6         Резник  Константин                    26
7       Талакова   Екатерина                    26
8        Аськова     Валерия                    26
9         Даутов      Андрей                    26
10    Извозчиков       Павел                    26
11       Ковалев        Иван                    26
12       Кузьмин      Виктор                    26
13        Лейман   Владислав                    26
14        Хохлов     Алексей                    26
15     Габидулин    Владимир                    26
16        Лучков     Дмитрий                    26
17      Корчагин       Денис                    26
18        Мисюра   Екатерина                    26
19        Слиган      Михаил                    26
20    Николаенко      Даниил                    26
21      Урванцев   Александр                    10
22      Шкуратов   Александр                    10
23     Артеменко      Леонид                    10
24       Атальян       Давид                    18
25      Курмелев      Даниил                    18
26      Трофимов     Евгений                    18
27      Максимов        Иван                    18
28      Абакумов       Захар                    26
29       Аббасов       Тургу                    40
30       Абгарян       Наира                    15
31  Абдрахманова       Алина                    26
32  Абдрахманова      Мадина                    26
33     Абдрашева       Лилия                    26
34      Баратова      Полина                    26
35       Васькин    Вячеслав                    26
36     Ведянкина       Ксени                    10

##количество студентов каждого факультета##

In [ ]:
cursor.execute("""SELECT name_faculty as 'Название факульета', COUNT(surname)
    FROM students_list
    JOIN groups ON groups.id= students_list.name_group_id
    JOIN facultets ON facultets.id= groups.name_faculty_id
    GROUP BY name_faculty
""")
cursor.fetchall()

[('Автомобильно-дорожный', 4),
 ('Архитектурный', 4),
 ('Инженерной экологии и городского хозяйства', 5),
 ('Строительный', 16),
 ('Судебных экспертиз и права в строительстве и на транспорте', 4),
 ('Экономики и управления', 4)]

In [ ]:
df2 = pd.read_sql("""SELECT name_faculty as 'Название факультета', COUNT(surname) as 'Количесвто студентов'
    FROM students_list
    JOIN groups ON groups.id= students_list.name_group_id
    JOIN facultets ON facultets.id= groups.name_faculty_id
    GROUP BY name_faculty
""", con)
df2

                                 Название факультета  Количесвто студентов
0                              Автомобильно-дорожный                     4
1                                      Архитектурный                     4
2         Инженерной экологии и городского хозяйства                     5
3                                       Строительный                    16
4  Судебных экспертиз и права в строительстве и н...                     4
5                             Экономики и управления                     4